@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<address>
    Mario Botero<br />
    Manizales, Colombia<br />
    Twitter: @@MaRioBoT
</address>
<hr />
@ViewBag.Message
@ViewBag.Message2
<hr />